{% extends 'foods/fragments/base.html' %} {% block main-content %}
<div class="row">
  <div class="col s12">
    {% if not categories %}
    <div class="card-panel red">
      <span class="white-text">No hay registros actualmente</span>
    </div>
    {% else %}
    <table class="striped centered">
      <thead>
        <tr>
          <th width="20%">Nombre</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Creada</th>
          <th>Ultima actualizacion</th>
        </tr>
      </thead>
      <tbody>
        {% for category_item in categories %}
        <tr>
          <td width="20%">{{ category_item.nombre }}</td>
          <td>{{ category_item.descripcion }}</td>
          <td>{% if category_item.activa %} ✅ {% else %} ❌ {% endif %}</td>
          <td>{{ category_item.creada_en|date:"d/m/Y H:i:s" }}</td>
          <td>{{ category_item.actualizada_en|date:"d/m/Y H:i:s" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
